.medicine-card {
    width: 241px;
    height: 400px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medicine-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.medicine-details {
    padding: 20px;
    width: inherit;
    height: 50%;
}

.medicine-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.medicine-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.medicine-stock {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.medicine-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}